<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>通知</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>

<body>
  <ul class="menu">
    <li title="home"><a href="/" class="access-home">ホーム</a></li>
    <li title="search"><a href="/search" class="access-search">検索</a></li>
    <li title="notifications">
        <a class="active access-notification">通知</a>
        <div class="notifications-count-badge">
            <span class="notifications-count-number"></span>
        </div>
    </li>
    <li title="profile"><a href="/profile/<%= user._id %>" class="access-profile">プロフィール</a></li>
    <li title="bookmarks"><a href="/bookmarks" class="access-bookmark">ブックマーク</a></li>
    <li title="messages"><a href="#" class="access-message">メッセージ</a></li>
    <div class="user-menu">
      <button>設定</button>
      <button id="user-logout-button">ログアウト</button>
    </div>
    <div class="menu-icon-container">
      <img src="data:image/jpeg;base64, <%= user.icon %>" alt="Icon" class="icon-img">
    </div>
  </ul>
  <div class="container">
    <% notifications.forEach((notification) => { %>
        <% if (notification.type === 'postLiked'){ %>
            <div class="post">
                <div class="post-flex">
                    <div class="post-left">
                        <i class="fa-solid fa-heart notification-heart-icon"></i>
                    </div>
                    <div class="post-right">
                        <div class="notification-icon-container">
                            <img src="data:image/jpeg;base64, <%= notification.user.icon %>" alt="Icon" class="icon-img">
                        </div>
                        <span class="notification-title"><a href="/profile/<%= notification.user.id %>" class="display-name"><%= notification.user.display_name %></a>さんがあなたの投稿をいいねしました</span>
                        <div class="notification-text">
                            <span><%= notification.post.text %></span>
                        </div>
                    </div>
                </div>
            </div>
        <% } else if (notification.type === 'userFollowed'){ %>
            <div class="post">
                <div class="post-flex">
                    <div class="post-left">
                        <i class="fa-solid fa-user notification-follow-icon"></i>
                    </div>
                    <div class="post-right">
                        <div class="notification-icon-container">
                            <img src="data:image/jpeg;base64, <%= notification.user.icon %>" alt="Icon" class="icon-img">
                        </div>
                        <span class="notification-title"><a href="/profile/<%= notification.user.id %>" class="display-name"><%= notification.user.display_name %></a>さんにフォローされました</span>
                    </div>
                </div>
            </div>
        <% } else if (notification.type === 'postReplied'){ %>
            <div class="post" id="post" onclick="redirectToURL('/post/<%= notification.post.parent_post %>')">
                <div class="post-flex">
                  <div class="post-left">
                    <div class="post-icon-container">
                      <img src="data:image/jpeg;base64, <%= notification.user.icon %>" alt="Icon" class="icon-img">
                    </div>
                  </div>
                  <div class="post-right">
                    <p class="post-detail">
                      <span><a href="/profile/<%= notification.user.id %>" class="display-name"><%= notification.user.display_name.length > 20 ? notification.user.display_name.slice(0, 20) + '...' : notification.user.display_name %></a></span>
                      <span class="timestamp">
                        <%= Math.floor((new Date() - notification.post.uploaded_at) / (1000 * 60 * 60)) %>時間
                      </span>
                    </p>
                    <button class="fa-solid fa-ellipsis post-menu-button"></button>
                    <div class="popup-menu">
                    </div>
                    <span class="post-content"><%- notification.post.text %></span>
                    <div class="reaction-box">
                      <div class="flex">
                        <div class="reaction-child-box">
                          <button class="fa-regular fa-comment post-comment"></button>
                          <span>
                            <% if(notification.post.replies.length > 0){ %>
                              <%= notification.post.replies.length %>
                            <% } %>
                          </span>
                        </div>
                        <div class="reaction-child-box">
                          <% if(user.liked_posts.includes(notification.post._id)){ %>
                            <button class="fa-solid fa-heart post-like" data-postid="<%= notification.post._id %>"></button>
                          <% } else { %>
                            <button class="fa-regular fa-heart post-like" data-postid="<%= notification.post._id %>"></button>
                          <% } %>
                          <span>
                            <% if(notification.post.likes.length > 0){ %>
                              <%= notification.post.likes.length %>
                            <% } %>
                          </span>
                        </div>
                        <div class="reaction-child-box">
                          <% if(user.bookmarked_posts.includes(notification.post._id)){ %>
                            <button class="fa-solid fa-bookmark post-bookmark" data-postid="<%= notification.post._id %>"></button>
                          <% } else { %>
                            <button class="fa-regular fa-bookmark post-bookmark" data-postid="<%= notification.post._id %>"></button>
                          <% } %>
                          <span>
                            <% if(notification.post.bookmarks.length > 0){ %>
                              <%= notification.post.bookmarks.length %>
                            <% } %>
                          </span>
                        </div>
                        <div class="reaction-child-box">
                          <button class="fa-solid fa-arrow-up-from-bracket post-share"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <% } %>
    <% }); %>
  </div>
  <button id="show-post-form">投稿</button>
  <div class="background-post-form"></div>
  <div class="post-form">
    <button id="close-post-form">✖</button>
    <form action="/post" method="POST">
      <textarea placeholder="何かを投稿..." name="text"></textarea>
      <button type="submit">投稿</button>
    </form>
  </div>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="/javascript/index.js"></script>
</body>

</html>