<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= urlUser.display_name %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>

<body>
    <%- include("./includes/sidebar") %>
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <div class="profile-icon-container">
                  <img src="data:image/jpeg;base64, <%= urlUser.icon %>" alt="Icon" class="icon-img">
                </div>
                <% if(urlUser.email === user.email){ %>
                    <button id="edit-profile-button">プロフィールを編集</button>
                <% } else if(user.following.some(follow => follow.equals(urlUser._id))) { %>
                    <button id="follow-button" class="cancel-follow-button" data-userid="<%= urlUser._id %>">フォロー中</button>
                <% } else if (!user.following.some(follow => follow.equals(urlUser._id))) { %>
                    <button id="follow-button" class="follow-button" data-userid="<%= urlUser._id %>">フォロー</button>
                <% } %>
            </div>
            <div class="profile-content">
              <% for (let i = 0; i < urlUser.display_name.length; i += 27) { %>
                <p class="display-name"><%= urlUser.display_name.slice(i, i + 27) %></p>
              <% } %>
              <p class="profile-user-id">@<%= urlUser._id %></p>
              <% for (let i = 0; i < urlUser.bio.length; i += 32) { %>
                <p class="profile-bio"><%= urlUser.bio.slice(i, i + 32) %></p>
              <% } %>
              <p class="follow-content">
                <span><%= urlUser.following.length %> フォロー中</span>
                <span><%= urlUser.followers.length %> フォロワー</span>
              </p>
            </div>
        </div>
        <%- include("./includes/timeline") %>
    </div>
    <%- include("./includes/post-form") %>
    <div class="edit-profile-form">
      <form action="/profile" method="POST" enctype="multipart/form-data">
        <div class="profile-form-buttons">
          <button type="button" id="close-profile-form">✖</button>
          <button type="submit">保存</button>
        </div>
        <div class="profile-input-box">
          <div class="flex">
            <div class="profile-form-icon-container">
              <img src="data:image/jpeg;base64, <%= urlUser.icon %>" alt="Icon" class="icon-img">
            </div>
            <input type="file" name="image" id="image" class="upload-icon-img" accept="image/*" required>
          </div>
        </div>
        <div class="profile-input-box">
          <div class="profile-input-text">
            <p>名前</p>
            <p id="display-name-char-limit"><%= urlUser.display_name.length %> / 50</p> <!-- 文字数表示 -->
          </div>
          <input type="text" name="displayName" id="display-name-input" value="<%= urlUser.display_name %>">
        </div>
        <div class="profile-input-box">
          <div class="profile-input-text">
            <p>自己紹介</p>
            <p id="biography-char-limit"><%= urlUser.bio.length %> / 160</p> <!-- 文字数表示 -->
          </div>
          <textarea name="biography" id="biography-textarea"><%= urlUser.bio %></textarea>
        </div>
      </form>
    </div>
    <%- include("./includes/report-form") %>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/profile.js"></script>
</body>

</html>