<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>検索</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>

<body>
    <%- include("./includes/sidebar") %>
    <div class="container">
        <div class="search">
            <div class="search-flex">
                <div class="search-left">
                    <span class="fa-solid fa-magnifying-glass"></span>
                </div>
                <div class="search-right">
                    <input type="text" value="<%= searchText %>" id="searchInput" placeholder="検索">
                </div>
            </div>
        </div>
        <% if(posts){ %>
          <%- include("./includes/timeline") %>
        <% } %>
    </div>
    <%- include("./includes/post-form") %>
    <%- include("./includes/report-form") %>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/search.js"></script>
</body>

</html>